.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/assets/mountain.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    gap: 2rem;
    border-radius: 10px;
    color: white;
    max-width: 500px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    height: 400px;
}

.nav{
    // margin-bottom: 1rem;
    width: 100%;
}