@import "/src/components/common/Button/Button.module.scss";

.button {
  position: relative;
//   min-width: min-content;
flex: 1;
  border-radius: 0;

  &:first-of-type {
    border-top-left-radius: 2rem; // Mantém o canto superior direito inalterado
    border-bottom-left-radius: 2rem; // Remove a borda inferior direita
  }

  &:last-of-type {
    border-top-right-radius: 2rem; // Mantém o canto superior esquerdo inalterado
    border-bottom-right-radius: 2rem; // Mantém o canto inferior esquerdo inalterado
  }
}

.active {
  color: $text-color;

  background-color: $primary-color;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; // Espaço abaixo do botão
    height: 4px;
    background-color: #333; // Cor do sublinhado
  }
}
