// Paleta de Cores - Amarelo Queimado

// Cor Primária (Principal Amarelo Queimado)
$primary-color: #D4A017; // Uso principal em botões, links e destaques importantes

$primary-color-shadow: #d4a0176c; // Sombra do amarelo queimado

// Cor Secundária (Amarelo Claro)
$secondary-color: #F5D382; // Uso em fundos ou áreas de destaque secundárias

// Cor de Fundo (Fundo Claro)
$background-color: #FFF9E6; // Cor para o fundo principal do site

// Cor de Texto (Texto Escuro)
$text-color: #4B371C; // Uso para o texto principal

// Cor de Texto Secundário (Texto Claro)
$secondary-text-color: #B8860B; // Para descrições, subtextos, etc.

// Cor de Bordas
$border-color: #E0C097; // Para bordas de caixas, seções ou separadores

// Cor de Hover (Efeito de hover em botões e links)
$hover-color: #C68E17; // Amarelo queimado mais escuro para o efeito de hover

// Cor de Êxito (Sucesso)
$success-color: #8BC34A; // Verde para mensagens ou botões de sucesso

// Cor de Erro (Erros ou alertas)
$error-color: #E57373; // Para mensagens de erro ou alertas importantes

// Cor de Aviso (Alerta leve)
$warning-color: #FFB74D; // Para avisos ou mensagens de atenção
